:root{
    --primary: hsl(210,80%,75%);
    --vent: hsl(75, 80%, 75%);
    --eau: hsl(200, 80%, 75%);
    --humidity: hsl(320, 80%, 75%);
    --temp: hsl(0, 80%, 75%);
}
body{
    height: 100vh;
    margin: 0;
    background-color: hsl(0,1%,97%);
  }
.wrapperConnection{
	  display: flex;
	  flex-direction: column;
  }
  .wrapper{
    display: grid;
    grid-template-areas: "top"
                           "lien"
                           "corp";
  }
  header{
    margin-bottom: 15px;
    background-color: var(--primary);
  }
  .menu_top {
    grid-area: top;
  
    display: grid;
    grid-template-areas: "menu logo rien";
  }
  
  .logo{
    grid-area: logo;
    justify-self: center;
  }
  .logo > img {
    margin: 5px;
    height: 75px;
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
  }
  .menu-icon{
    display: none;
  }
  .menu-list{
    grid-area: lien;
  }
  .menu-list  {
    display: flex;
    justify-content: space-around;
  }
  .menu-list li {
    display: inline;
  }
  .corp{
    grid-area: corp;
  }
  main{
      display: grid;
      grid-gap: 20px;
  }
  
  /******                                 general                         ******/
  nav ul{
      margin-bottom: 10px;
  }
  li a{
      color: hsl(175,55%,100%);
      padding: 10px;
      text-decoration: none;
  }
  li a:hover{
      background-color: hsl(30,80%,75%);
  }
  h3, h4{
      margin: 10px;
  }
  section{
      padding: 15px;
      background-color: hsl(0,2%,95%);
  }
  .whiteBackground{
      background-color: hsl(0,0%,98%);
  }
  .square{
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 150px;
      margin: 10px;
      border-radius: 35px 35px 35px 35px;
      box-shadow: 0px 2px 4px hsl(0,0%,80%);
      text-align: center;
  }
  .bold{
      font-weight: bold;
  }
  .italik{
      color: hsl(0,0%,40%);
      font-style: italic;
  }
  .square>button{
      margin: auto;
      max-width: 75px;
      border-radius: 50px;
  }
  .petiteImage{
      height: 30px;
      padding: 10px;
  }
  .vent{
      background-color: var(--vent);
      border-radius: 35px 35px 0 0;
  }
  .eau{
      background-color: var(--eau);
      border-radius: 35px 35px 0 0;
  }
  .humidity{
      background-color: var(--humidity);
      border-radius: 35px 35px 0 0;
  }
  .temp{
      background-color: var(--temp);
      border-radius: 35px 35px 0 0;
  }
  .error{
      color: red;
  }
  
  /******                           END GENERAL                          ******/
  
  /******                           last infos                           ******/
  .blockinfos{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 25px 0;
  }
  .infosModules{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .ckickable:hover{
      cursor: grab;
  }
 /*END LAST INFOS*/
 .squareAlerte{
      display: flex;
      flex-direction: column;
      width: 95%;
      height: auto;
      margin: 10px auto;
      padding: 10px;
      box-shadow: 0px 2px 4px hsl(0,0%,80%);
      text-align: center;
 }
 .nomModule{
     align-self: center;
 }
 /*graph*/
 
 svg{
     border-top: 1px solid #405293;
     padding: 10px;
    font-size: 3px;
 }
 circle{
      stroke: rgba(128,128,128, 0.3);
      stroke-width: 2;

  }
  circle:hover{
      stroke: rgba(12,18,28, 0.3);
      stroke-width: 3;
  }
  g>line{
   stroke-width: 0.5px;
   stroke-dasharray: 5px;
   stroke-linecap:round;
  }
  
  .lesradiobox{
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
  }
  .lesradiobox input{
      margin: 0 5px 0 20px;
  }
  
  /************     *pageGraph*      ******************/
  
  .hidden{
      display: none !important;
  }
 

  
  /************       page administration       *******************************/
  .listElements{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
  }
  .bandeau{
      background-color: hsl(10, 80%,75%);
      margin: 0 0 10px 0;
      padding: 15px;
      border-radius: 35px 35px 0 0;
  }
  .backgrounder{
      background-color: hsla(0,80%,0%,0.8);
      position: absolute;
      top: 0;
      left:0;
      z-index: 5;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
  }
  .squareAuto{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80%;
      height: auto;
      margin: auto;
      padding: 10px;
      box-shadow: 0px 2px 4px hsl(0,0%,80%);
      text-align: center;
      align-items: center;
  }
  .whiteText{
      color: hsl(175,55%,100%);
  }
  .hautDroite{
      position: absolute;
      top: 5px;
      right: 5px;
  }
  #iconAddBuse, #iconAddUser, .userless, .rmBuse{
	  cursor: pointer;
  }
  
    @media (max-width: 700px) {
    .wrapper{
      grid-template-areas: "top top"
                            "lien corp";
    }
    header{
      grid-column-start: 1;
      grid-column-end: -1;
      position: sticky;
      top: 0;
    }
    .menu-icon {
      grid-area: menu;
      display: inline;
      height: 50px;
      width: auto;
      transition:transform 2s ease;
    }
    .menu-icon:hover{
      transform:rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
    .menu-list{
      /* position: relative; */
      transition: 1.5s;
      height: 0;
      overflow-x: hidden;
    }
    .menu-list{
      margin: 0;
      padding: 0;
      border-top: 1px solid whitesmoke;
      /* height: 400px; */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--primary);
    }
    .menu-list li{
      display: block;
    }
    nav{
      position: sticky;
      top: 80px;
    }
  }